<div class="row">
    <div class="col-lg-6">
        <button type="button" class="btn btn-primary"><a style="color:aliceblue" href="..\User\Login">Access</a></button>
    </div>
    <div class="col-lg-6">
        
        <button type="button" class="btn btn-success"><a style="color:aliceblue" href="..\User\Register">Register</a></button>
    </div>
</div>

@TempData["UserNameLogged"]